.list-container {
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
}
.image {
  height: 150px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.name {
  font-family: 'Roboto';
}
